.blink {
  // Force hardware acceleration
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-animation-duration: .5s;
  -webkit-animation-name: blink;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-duration: .5s;
  animation-name: blink;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@-webkit-keyframes blink {
    0% { opacity: 0; }
    5% { opacity: 1; }
    10% { opacity: 0; }
    15% { opacity: 1; }
    25% { opacity: 0; }
    30% { opacity: 1; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0;}
}
@keyframes blink {
    0% { opacity: 0; }
    5% { opacity: 1; }
    10% { opacity: 0; }
    15% { opacity: 1; }
    25% { opacity: 0; }
    30% { opacity: 1; }
    50% { opacity: 0; }
    75% { opacity: 1; }
    100% { opacity: 0;}
}

.shake {
  position: relative;
  left: 0;
  right: 0;

  // Force hardware acceleration
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-animation-duration: .5s;
  -webkit-animation-name: shake;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-duration: .5s;
  animation-name: shake;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@-webkit-keyframes shake {
    0% { left: -2vw; right: 2vw; }
    5% { left: 2vw; right: -2vw; }
    10% { left: -2vw; right: 2vw; }
    15% { left: 2vw; right: -2vw; }
    25% { left: -2vw; right: 2vw; }
    30% { left: 2vw; right: -2vw; }
    50% { left: -2vw; right: 2vw; }
    75% { left: 2vw; right: -2vw; }
    100% { left: 0; right: 0; }
}
@keyframes shake {
    0% { left: -2vw; right: 2vw; }
    5% { left: 2vw; right: -2vw; }
    10% { left: -2vw; right: 2vw; }
    15% { left: 2vw; right: -2vw; }
    25% { left: -2vw; right: 2vw; }
    30% { left: 2vw; right: -2vw; }
    50% { left: -2vw; right: 2vw; }
    75% { left: 2vw; right: -2vw; }
    100% { left: 0; right: 0; }
}

.fade-out {
  opacity: 1;

  // Force hardware acceleration
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-animation-duration: .5s;
  -webkit-animation-name: fade-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-duration: .5s;
  animation-name: fade-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@-webkit-keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fade-in {
  opacity: 0;

  // Force hardware acceleration
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-animation-duration: .5s;
  -webkit-animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-duration: .5s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.show-message.message {
  opacity: 0;
  
  // Force hardware acceleration
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-animation-duration: 10s;
  -webkit-animation-name: show-message;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-duration: 10s;
  animation-name: show-message;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@-webkit-keyframes show-message {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes show-message {
    0% { opacity: 0; }
    25% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.slide-out-right {
  position: relative;
  left: 0;
  right: 0;

  // Force hardware acceleration
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-animation-duration: .5s;
  -webkit-animation-name: slide-out-right, fade-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-duration: .5s;
  animation-name: slide-out-right, fade-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@-webkit-keyframes slide-out-right {
    0% { left: 0; right: 0; }
    100% { left: 100vw; right: -100vw; }
}@keyframes slide-out-right {
    0% { left: 0; right: 0; }
    100% { left: 100vw; right: -100vw; }
}

.slide-out-left {
  position: relative;
  left: 0;
  right: 0;
  
  // Force hardware acceleration
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-animation-duration: .5s;
  -webkit-animation-name: slide-out-left, fade-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-duration: .5s;
  animation-name: slide-out-left, fade-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@-webkit-keyframes slide-out-left {
    0% { left: 0;right: 0; }
    100% { left: -100vw; right: 100vw; }
}@keyframes slide-out-left {
    0% { left: 0;right: 0; }
    100% { left: -100vw; right: 100vw; }
}

.slide-out-bottom {
  position: relative;
  left: 0;
  right: 0;

  // Force hardware acceleration
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-animation-duration: .5s;
  -webkit-animation-name: slide-out-bottom, fade-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-duration: .5s;
  animation-name: slide-out-bottom, fade-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@-webkit-keyframes slide-out-bottom {
    0% { top: 0; }
    100% { top: 100vh; }
}@keyframes slide-out-bottom {
    0% { top: 0; }
    100% { top: 100vh; }
}

.slide-out-top {
  position: relative;
  left: 0;
  right: 0;
  
  // Force hardware acceleration
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-animation-duration: .5s;
  -webkit-animation-name: slide-out-top, fade-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-duration: .5s;
  animation-name: slide-out-top, fade-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@-webkit-keyframes slide-out-top {
    0% { top: 0; }
    100% { top: -100vh; }
}@keyframes slide-out-top {
    0% { top: 0; }
    100% { top: -100vh; }
}

.slide-in-bottom {
  position: relative;
  display: block !important;
  top: 100vh;
  left: 0;
  right: 0;

  // Force hardware acceleration
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  -webkit-animation-duration: .5s;
  -webkit-animation-name: slide-in-bottom, fade-in;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-duration: .5s;
  animation-name: slide-in-bottom, fade-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@-webkit-keyframes slide-in-bottom {
    0% { top: 100vh; }
    100% { position: relative; top: 0; }
}
@keyframes slide-in-bottom {
    0% { top: 100vh; }
    100% { position: relative; top: 0; }
}

