body {
  background: $bodyBackground;
  font-family: $defaultFont;
  margin: 0;
  color: $white;

  background-image: url('/img/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 

  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.title {
  color: $titleColor;
  text-shadow: -1px 0 green,0 1px green,1px 0 green,0 -1px green;
  text-align: center;
  font-size: 1.2rem;
}

main {
  position: relative;
}

footer {
  display: none;
  text-align: center;
  #leaveRoom {
    background: $red;
    position: fixed;
    bottom: 0;
    margin-left: -80px;
  }
}

fieldset {
  border: 1px solid white;
  font-size: 1rem;
  text-align: center;
  text-shadow: -1px 0 green,0 1px green,1px 0 green,0 -1px green;
  color: $white;
  
  &.new-room {
    text-align: center;
    legend {
      text-align: left;
    }
  }
  &.join-room legend {
    text-align: right;
  }
  &.seat legend,
  &.room legend  {
  }
  
}

input {
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  font-weight: bold;
  font-family: $defaultFont;
  font-size: 1.5rem;
  text-align: center;
  &[type='text'] {
    border: 1px solid $borderColor;
  }
  &[type='button'] {
    background: $buttonColor;
    color: $white;
    cursor: pointer;
  }
}

    #newRoom {
      background: $green;
    }
