body {
  background: $bodyBackground;
  font-family: $defaultFont;
  margin: 0;
}

.title {
  color: $titleColor;
  text-align: center;
}

main {
  position: relative;
}

fieldset {
  border: 5px solid white;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  
  &.new-room {
    text-align: center;
    legend {
      color: $red;
      text-align: left;
    }
  }
  &.join-room legend {
    color: $purple;
    text-align: right;
  }
  &.seat legend,
  &.room legend  {
    color: $white;
  }
  
}

input {
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  font-weight: bold;
  font-family: $defaultFont;
  text-align: center;
  &[type='text'] {
    border: 1px solid $borderColor;
  }
  &[type='button'] {
    background: $buttonColor;
    color: $white;
    cursor: pointer;
  }
}
