.seat {
  display: none;
  .poker-cards {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    
    .card {
      background: $black;
      font-size: 1.5rem;
      font-weight: bold;
      border: 2px solid $normalCards;
      height: 75px;
      min-width: 75px;
      max-width: 75px;
      display: table;
      cursor: pointer;
      margin: .1rem;
      opacity: 0.5;
      transition: .4s all;
      &.highlight {
        background: #999;
        color: $red;
        opacity: 1;
        
        &.selected {
          background: $white;
          color: $green;
        }
      }
      
      &:hover,
      &.selected {
        opacity: 1;
      }
      
      &.five, &.eight {
        border-color: $mediumCards;
      }
      &.thirteen, &.twenty {
        border-color: $highCards;
      }
      &.fourty, &.hundred {
        border-color: $highestCards;
      }
      &.coffee, &.question {
        border-color: $miscCards;
      }
      
      &.coffee {
        background-image: url('/img/coffee.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; 
      }
      
      > div {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
      }
      
      input {
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }
  #reshuffle {
    display: none;
  }
}

html.cards-opened {
  #reshuffle {
    display: inline-block;
  }
}

.title > .username {
  &:not(:empty):before {
    content: '[';
  }
  &:not(:empty):after {
    content: ']';
  }
}