.players {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  
  &:empty:before {
    content: 'Waiting for players...';
  }
  
  .player .card {
    background: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid $normalCards;
    height: 75px;
    min-width: 75px;
    max-width: 75px;
    display: table;
    cursor: pointer;
    margin: .25rem;
    transition: .4s all;
    &.no-value {
      opacity: 0.5;      
    }
    &.highlight {
      color: $red;
    }
    
    &[data-value="coffee"] {
      &:before {
        content: 'Coffee';
        font-size: 1rem;
      }
      background-image: url('/img/coffee.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      .value {
        display: none !important;
      }
    }

    
    > div {
      text-align: center;
      vertical-align: middle;
      display: none;
    }
    
    &:not(.no-value):not(.show-value) {
      .checkmark {
        display: table-cell;
      }
    }
    
    &.show-value {
      .value {
        display: table-cell;
      }
    }
  }
}