$default-font-size: 18px;

// Colors
$black: #000;
$blue: #4099FF;
$green: #34af23;
$green2: #3D9970;
$grey: #ddd;
$grey2: #333;
$orange: #f08a24;
$red: #cc181e;
$purple: #80397b;
$white: white;

// Defaults
$defaultFont: verdana, arial;
$bodyBackground: $blue;
$borderColor: $grey;
$titleColor: $green2;
$buttonColor: $grey2;
$checkmarkColor: $green2;

// Cards
$cardBackground: $white;
$normalCards: $green;
$mediumCards: $orange;
$highCards: $red;
$highestCards: $purple;
$miscCards: $black;