<fieldset class="new-room">
  <legend>New room</legend>
  <input type="button" id="newRoom" name="newRoom" value="New room"/><br>
</fieldset>
<fieldset class="join-room">
  <legend>Join room</legend>
  <input type="text" id="roomNumber" value="" placeholder="Room number"/>
  <br>
  <input type="text" id="name" value="" placeholder="Name"/>
  <input type="button" id="joinRoom" name="joinRoom" value="Join room"/>
  <input type="button" id="msg" name="msg" value="Message"/>
</fieldset>
<fieldset class="poker-cards">
  <legend>Cards</legend>
  <div class="cards-container">
    <div class="card half">
      <div>1/2</div>
    </div>
    <div class="card one">
      <div>1</div>
    </div>
    <div class="card two">
      <div>2</div>
    </div>
    <div class="card three">
      <div>3</div>
    </div>
    <div class="card five">
      <div>5</div>
    </div>
    <div class="card eight">
      <div>8</div>
    </div>
    <div class="card thirteen">
      <div>13</div>
    </div>
    <div class="card twenty">
      <div>20</div>
    </div>
    <div class="card fourty">
      <div>40</div>
    </div>
    <div class="card hundred">
      <div>100</div>
    </div>
    <div class="card coffee">
      <div></div>
    </div>
    <div class="card question">
      <div>?</div>
    </div>
  </div>
</fieldset>